In [143]:
import pandas as pd

In [144]:
data = pd.read_parquet("D:\\FRI\\Masters\\4. Semester\\BD\\project\\big-data-project\\data\\parking_tickets\\parquet\\unprocessed\\2022.parquet")
original_sc = pd.read_csv("../data\meta_data\street_code_mapper.csv")
new_sc = pd.read_csv("../data\meta_data\street_code_mapper_C.csv")

In [145]:
original_sc = original_sc.T
original_sc.columns = original_sc.iloc[0]
original_sc = original_sc[1:]

In [107]:
new_sc.set_index("Unnamed: 0", inplace=True)

In [102]:
borough_codes = {
    "Manhattan": 1,
    "Bronx": 2,
    "Brooklyn": 3,
    "Queens": 4,
    "Staten Island": 5,
    "NY": 1,
    "MN": 1,
    "MAN": 1,
    "NEWY": 1,
    "NEW Y": 1,
    "NYC": 1,
    "N": 1,
    "MH": 1,
    "BX": 2,
    "BRONX": 2,
    "K": 3,
    "Kings": 3,
    "BK": 3,
    "KINGS": 3,
    "KING": 3,
    "Q": 4,
    "QN": 4,
    "Qns": 4,
    "QUEEN": 4,
    "QNS": 4,
    "QU": 4,
    "ST": 5,
    "Rich": 5,
    "R": 5,
    "RICH": 5,
    "RC": 5,
    "": 0,
    "VINIS": 0
}

In [148]:
data.shape

(14765377, 43)

In [153]:
test1 = data[(data["Issue Date"] > pd.Timestamp(year=2021, month=7, day=1, unit="ms").timestamp() * 1000) & (data["Issue Date"] < pd.Timestamp(year=2022, month=6, day=30, unit="ms").timestamp() * 1000)]
test1.shape

(150, 43)