In [1]:
import string

col1 = list(string.ascii_letters)
col2 = [ x for x in range(1,53)]
col3 = [ float(x) for x in range(1,53)]

ncopies = 64_000
col_c = []; col_int = []; col_float = []
for i in range(ncopies):
    col_c.extend(col1)
    col_int.extend(col2)
    col_float.extend(col3)

In [2]:
import pandas as pd
dfx = pd.DataFrame({'col_c': col_c, 'col_int': col_int, 'col_float': col_float})
dfx

        col_c  col_int  col_float
0           a        1        1.0
1           b        2        2.0
2           c        3        3.0
3           d        4        4.0
4           e        5        5.0
...       ...      ...        ...
3327995     V       48       48.0
3327996     W       49       49.0
3327997     X       50       50.0
3327998     Y       51       51.0
3327999     Z       52       52.0

[3328000 rows x 3 columns]

In [3]:
dfx.to_parquet("test.parquet")

In [4]:
dfx.to_hdf("test.h5", key="data", complib='blosc2:zlib',complevel=9)

In [5]:
import numpy as np

array = np.empty(len(dfx), dtype=np.dtype([ ('col_c', 'S1'), ('col_int', int), ('col_float', float) ]))
for column in dfx.columns:
    array[column] = dfx[column]

In [6]:
import h5py

with h5py.File('h5py_test.h5','w') as h5f:
    h5f.create_dataset('data', data=array, compression="gzip", compression_opts=9)