In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
with open("../tasks/04/results/rolling_stats_all.txt", "r") as f:
    lines = f.readlines()
    lines = [json.loads(line.split("value:")[1].strip().replace("'", "\"")) for line in lines]

for line in lines:
    # ignore the vehicle makes for now
    del line["vehicle_make"]

In [26]:
df = pd.DataFrame(lines)
df

,vehicle_year_mean,vehicle_year_std,vehicle_year_min,vehicle_year_max,vehicle_year_per_25,vehicle_year_per_50,vehicle_year_per_75
0,2000.8235294117646,7.568475815070109,1986,2012,1995.75,2002.5,2007.0
1,2004.3962264150944,5.56202654905258,1987,2012,2001.0,2005.0,2008.0
2,2002.581818181818,6.911318974431,1988,2012,1998.0,2002.0,2008.0
3,2003.6727272727273,6.787937409559275,1987,2012,1999.0,2005.0,2009.5
4,2002.758064516129,6.595292618002701,1987,2012,1999.5,2004.0,2006.75
5,2005.1029411764705,5.90506917543202,1987,2012,2002.75,2007.0,2009.25
6,2000.517857142857,8.061109942588148,1986,2012,1995.0,2003.5,2006.0
7,2006.1451612903227,5.841756905593621,1989,2012,2002.25,2008.0,2011.0
8,2005.780487804878,5.574550184194018,1990,2012,2003.0,2006.0,2011.0
9,2005.7462686567164,4.626482673341594,1996,2012,2003.0,2007.0,2009.5